In [ ]:
#Write an sql query to select the maximum salary from each department in the employment details table.
select * from (select *,
max(salary) over (partition by dept_name) as max_salary,
min(salary) over (partition by dept_name) as min_salary from practice1.employee) x where salary = x.max_salary;

In [ ]:
#sql Query to find the second last record from the employees table.
select * from (select *, row_number() over (order by emp_id desc) as x from practice1.employee) as y where y.x =2;

In [ ]:
#From the doctors table, fetch the details of doctors who work in the same hospital but in different speciality.
select * from practice1.doctors_details d1 join (select * from (select *, row_number() over(partition by hospital order by id) as x from practice1.doctors_details) y 
where y.x =2) z on z.hospital=d1.hospital;

In [ ]:
#From the login_details table, fetch the users who logged in consecutively 3 or more times.
select distinct user_name from (select *,
case 
	when user_name = lead(user_name) over(order by login_id) 
    and user_name = lead(user_name,2) over(order by login_id) then user_name else null
end as repeated_user
from practice1.login_details) z where z.repeated_user is not null;

In [ ]:
#From the students table, write a SQL query to interchange the adjacent student names.
select *, case
			when id%2 = 0 then lag(name,1) over(order by id)
            when id%2 != 0 then lead(name,1) over(order by id)
end as new_name
from practice1.students;