In [2]:
import mysql.connector as conn
mydb = conn.connect(host='localhost', user='root', passwd='Amrita@1994', database='practice')

In [4]:
cursor = mydb.cursor()

In [6]:
#Q-1)Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.
cursor.execute("select replace(name, 'a','A') from practice.worker")
cursor.fetchall()

In [ ]:
#Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.
cursor.execute("select * from practice.worker order by name ASC, department DESC")
cursor.fetchall()

In [ ]:
#Q-3)Write an SQL query to fetch the names of workers who earn the highest salary.
cursor.execute("select name from practice.worker where salary = MAX(salary)")